{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="d-flex flex-wrap gap-2">
  <a href="https://www.linkedin.com/in/mahmoud-alforawi-72b02a101/" target="_blank" class="btn bg-cyan-600 d-inline-flex">
    <i class="ti ti-brand-linkedin me-1"></i>LinkedIn
  </a>
  <a href="https://github.com/mahmoud98-30" target="_blank" class="btn btn-outline-secondary d-inline-flex">
    <i class="ti ti-brand-github me-1"></i>GitHub
  </a>
  <a href="mailto:psmahmoud@gmail.com" class="btn btn-outline-success d-inline-flex">
    <i class="ti ti-mail-forward me-1"></i>psmahmoud@gmail.com
  </a>
</div>

{% endblock %}